body {
    padding-left: 50px;
    padding-top: 50px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
}

.search-bar {
    margin-bottom: 15px;
    font-size: 20px;
    width: 350px;
    display: block;
}

.video-preview {
    display: inline-block;
    width: 400px;
    margin-right: 20px;
    margin-bottom: 20px;
    vertical-align: top;
    
}

.thumbnail {
    width: 100%;
}

.thumbnail-row {
    margin-bottom: 12px;
}

.channel-picture {
    vertical-align: top;
}

.channel-picture {
    margin-right: 7px;
    display: inline-block;
}

.profile-picture {
    width: 45px;
    display: inline-block;
    border-radius: 50%;
}

.video-info {
    display: inline-block;
    width: 310px;
}

.video-title {
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 10px;
}

.video-author {
    color: rgb(92, 92, 92);
    margin-bottom: 10px;
}

.video-stats {
    color: rgb(92, 92, 92);

}